

<h1>Case note link</h1>

<p>Patient: <%= link_to @case_note.patient.name, patient_path(@case_note.patient) %></p>
<p>Reference: <%= link_to "Volume #{@case_note.record.volume}", record_path(@case_note.record) %>, Page <%= @case_note.transcribed_index_page_ref %> </p>

<%= form_for @case_note, method: :delete, html: {class: 'delete'} do |form| %>
  <button type="submit">Delete</button>
<% end %>

<% if @case_note.index_image %>
  <% x = (@case_note.index_side == 'left' ? 0 : 49) %>
  <%= image_tag cropped_image_path(@case_note.index_image.id, 2048, 2048, x, 0, 51, 100) %>
<% end %>

<% if @case_note.sequence_start %>
  <% image = @case_note.record.images.find_by(sequence: @case_note.sequence_start) %>
  <%= image_tag image_path(image, 1024, 1024) %>
<% end %>