<h1><%= link_to "Volume #{@record.volume}", @record %> / <%= link_to "Index", record_index_path(@record) %> / <%= "#{@image.left_page.upcase} – #{@image.right_page.upcase}" %></h1>



<%= form_for @image, url: record_index_page_path(@record, @image), method: :put do |form| %>

  <% {left: @image.left_page.upcase, right: @image.right_page.upcase}.each_pair do |position, page_ref| %>


    <h2><%= page_ref %></h2>

    <table class="transcribe-index">
      <thead>
        <tr>
          <th>Patient</th>
          <th>Page ref</th>
          <th></th>
        </tr>
      </thead>


      <tbody>

        <% @case_notes.select {|cn| cn.index_side == position.to_s }.each do |case_note| %>

          <tr>
            <td><%= link_to case_note.patient.name, patient_path(case_note.patient) %></td>
            <td>
              <% if case_note.sequence_start %>
                <% sequence_start_image = @record.images.find_by(sequence: case_note.sequence_start) %>
                <%= sequence_start_image.left_page %>
              <% else %>
                <%= case_note.transcribed_index_page_ref %> <span class="warning">Couldn’t find page</span>
              <% end %>
            </td>
            <td>
              <%= link_to 'Delete', case_note_path(case_note), class: 'delete' %>
            </td>
          </tr>
        <% end %>

        <% 5.times do %>

          <tr>
            <td>
              <select name="index_ref[][patient_id]">
                <option></option>
                <% @patients.select {|p| p.name.upcase.start_with?(page_ref) }.each do |patient| %>
                  <option value="<%= patient.id %>"><%= patient.name %></option>
                <% end %>

                <option>–––––</option>
                <% @patients.select {|p| !p.name.upcase.start_with?(page_ref) }.each do |patient| %>
                  <option value="<%= patient.id %>"><%= patient.name %></option>
                <% end %>
              </select>
            </td>
            <td colspan="2">
              <input name="index_ref[][page_ref]" type="text">
              <input name="index_ref[][index_side]" type="hidden" value="<%= position %>">
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>


    <% x = (position == :left ? 0 : 49) %>
    <%= image_tag cropped_image_path(@image.id, 2048, 2048, x, 0, 51, 100) %>

  <% end %>

  <div>
    <%= form.label :transcribed, "Page completed?" %>
    <%= form.check_box :transcribed %>
  </div>

  <div class="save-buttons">
    <button type="submit" name="next" value="next">Save &amp; Next</button>
    <button type="submit" name="next" value="reload">Save &amp; Reload</button>
  </div>

<% end %>