
<h1>Patients</h1>

<p>We have records of <strong><%= pluralize @patients.size, 'patient' %></strong> admitted to Ticehurst from 1792 to 1917.</p>

<div class="table-search">
  <form>
    <input type="search" name="name" value="<%= @name_search %>">
    <button type="submit">Search</button>
  </form>
</div>

<table class="patients">
  <thead>
    <tr>
      <th class="name" rowspan="2"><%= link_to "Name", patients_path(order: 'name') %></th>
      <th rowspan="2"><%= link_to "Length&#160;of&#160;stay".html_safe, patients_path(order: 'length_of_stays') %></th>
      <th>

        <% order = params[:order].to_s == 'admission' ? 'discharged' : 'admission' %>

        <%= link_to "Stay Dates", patients_path(order: order) %>
      </th>
    </tr>
    <tr>
      <td>
        <svg viewbox="0 0 500 20" width="500" height="20">



          <% start_year = 1792 %>
          <% end_year = 1989 %>
          <% width_scale = 500 / (end_year - start_year) %>

          <rect x="0" y="0" width="1" height="20" fill="grey"></rect>
          <text x="3" y="15" fill="black"><%= start_year %></text>

          <rect x="499" y="0" width="1" height="20" fill="grey"></rect>
          <text x="495" y="15" fill="black" text-anchor="end"><%= end_year %></text>

          <rect x="70" y="0" width="20" height="20" fill="black"></rect>
          <text x="94" y="15" fill="black">Died</text>

          <rect x="170" y="0" width="20" height="20" fill="red"></rect>
          <text x="194" y="15" fill="black">Not improved</text>


          <rect x="340" y="0" width="20" height="20" fill="green"></rect>
          <text x="364" y="15" fill="black">'Cured'</text>


        </svg>

      </td>
    </tr>
  </thead>


  <% @patients.each do |group| %>

    <% patient = group[1][0] %>
     <tr <% if patient.highlighted %>class="highlighted" <% end %>>
      <td>
        <%= link_to patient.name, patient_path(patient.patient_id) %>
      </td>
      <td>

        <% if patient.length_of_stays %>

          <% if patient.length_of_stays > 365.25 %>


            <% years = (patient.length_of_stays.to_f / 365.25).floor %>
            <%= pluralize(years, 'year') %>

          <% else %>

            <%= pluralize(patient.length_of_stays, 'day') %>

          <% end %>

        <% else %>
          <%= pluralize(patient.stays_count, 'stay') %>
        <% end %>
      </td>

      <td>

        <svg viewbox="0 0 500 20" width="500" height="20">

          <% start_date = Date.new(1792,1,1) %>
          <% end_date = Date.new(1989,12,31) %>
          <% width_scale = 500.0 / (end_date - start_date).to_i %>


          <% dates = group[1].each do |stay| %>
            <% if stay.admission && stay.discharge %>

              <% fill = 'grey' %>
              <% case stay.transcribed_subsequent_condition.to_s.downcase
              when 'died'
                fill = 'black'
              when 'recovered', 'improved', 'cured'
                fill = 'green'
              when 'not imp.'
                fill = 'red'
              end
              %>
              <rect x="<%= (stay.admission - start_date) * width_scale %>" y="0" width="<%= ((stay.discharge - stay.admission)).to_i * width_scale  %>" height="20" fill="<%= fill %>" title="Test" />

            <% end %>
          <% end %>

        </svg>


        <% dates = group[1].collect do |stay| %>
          <%# stay_date(stay.admission, stay.transcribed_date_of_admission).to_s + " – " + stay_date(stay.discharge, stay.transcribed_date_of_discharge).to_s %>
        <% end %>

        <%#= dates.join(', ') %>
      </td>


    </tr>

  <% end %>

</table>