
<h1>Patients</h1>

<p>We have records of <strong><%= pluralize @patients.size, 'patient' %></strong> admitted to Ticehurst from 1792 to 1917.</p>

<div class="table-search">
  <form>
    <input type="search" name="name" value="<%= @name_search %>">
    <button type="submit">Search</button>
  </form>
</div>

<table class="patients">
  <thead>
    <tr>
      <th class="name">Name</th>
      <th>Number of stays</th>
      <th>Stay Dates</th>
    </tr>
  </thead>


  <% @patients.each do |group| %>

    <% patient = group[1][0] %>
     <tr <% if patient.highlighted %>class="highlighted" <% end %>>
      <td>
        <%= link_to patient.name, patient_path(patient.patient_id) %>
      </td>
      <td>
        <%= patient.stays_count %>
      </td>

      <td>


        <% dates = group[1].collect do |stay| %>
          <% stay_date(stay.admission, stay.transcribed_date_of_admission).to_s + " – " + stay_date(stay.discharge, stay.transcribed_date_of_discharge).to_s %>
        <% end %>

        <%= dates.join(', ') %>
      </td>


    </tr>

  <% end %>

</table>