
<h1>Patients</h1>

<p>We have records of <strong><%= pluralize @patients.size, 'patient' %></strong> admitted to Ticehurst from 1792 to 1917.</p>

<div class="table-search">
  <form>
    <input type="search" name="name" value="<%= @name_search %>">
    <button type="submit">Search</button>
  </form>
</div>

<table class="patients">
  <thead>
    <tr>
      <th class="name"><%= link_to "Name", patients_path(order: 'name') %></th>
      <th>Number of stays</th>
      <th>

        <% order = params[:order].to_s == 'admission' ? 'discharged' : 'admission' %>

        <%= link_to "Stay Dates", patients_path(order: order) %>
      </th>
    </tr>
  </thead>


  <% @patients.each do |group| %>

    <% patient = group[1][0] %>
     <tr <% if patient.highlighted %>class="highlighted" <% end %>>
      <td>
        <%= link_to patient.name, patient_path(patient.patient_id) %>
      </td>
      <td>
        <%= patient.stays_count %>
      </td>

      <td>

        <svg viewbox="0 0 500 20" width="500" height="20">

          <% start_year = 1792 %>
          <% end_year = 1989 %>
          <% width_scale = 500 / (end_year - start_year) %>


          <% dates = group[1].each do |stay| %>
            <% if stay.admission && stay.discharge %>

              <% fill = 'grey' %>
              <% case stay.transcribed_subsequent_condition.to_s.downcase
              when 'died'
                fill = 'black'
              when 'recovered', 'improved', 'cured'
                fill = 'green'
              when 'not imp.'
                fill = 'red'
              end
              %>
              <rect x="<%= (stay.admission.year - start_year) * width_scale %>" y="0" width="<%= ((stay.discharge.year - stay.admission.year) + 1) * width_scale  %>" height="20" fill="<%= fill %>" />

            <% end %>
          <% end %>

        </svg>


        <% dates = group[1].collect do |stay| %>
          <%# stay_date(stay.admission, stay.transcribed_date_of_admission).to_s + " – " + stay_date(stay.discharge, stay.transcribed_date_of_discharge).to_s %>
        <% end %>

        <%#= dates.join(', ') %>
      </td>


    </tr>

  <% end %>

</table>