
<div><%= link_to "Patient Index", patients_path %></div>

<h1><%= @patient.name %></h1>

<% if @patient.introduction %>
  <div class="introduction">
    <p><%= @patient.introduction.html_safe %></p>
  </div>
<% end %>

<ol class="toc">
  <% @patient.stays.each do |stay| %>

    <li>
      <a href="#stay-<%= stay.id %>"><%= stay.transcribed_date_of_admission %> – <%= stay.transcribed_date_of_discharge %></a>

      <ol>
        <% if stay.admission_certificate %>
          <li><a href="#stay-<%= stay.id %>-admission">Admission certificate</a></li>
        <% end %>

        <% if stay.case_notes.size > 0 %>
          <li><a href="#stay-<%= stay.id %>-case-notes">Case Notes</a></li>
        <% end %>

        <% if stay.discharge_note %>
          <li><a href="#stay-<%= stay.id %>-discharge">Discharge/Death Note</a></li>
        <% end %>

        <% if stay.bill_notes.size > 0 %>
          <li><a href="#stay-<%= stay.id %>-bills">Bills</a></li>
        <% end %>
      </ol>

    </li>

  <% end %>

  <% if @case_notes.size > 0 %>
    <li><a href="#misc-case-notes">Case Notes</a></li>
  <% end %>

</ol>

<table>

  <thead>
    <tr>
      <th>Date of Admission</th>
      <th>Date of Discharge</th>
      <th>Subsequent condition</th>
      <th>[Archives Ref]</th>
      <th>[Index file ref]</th>
    </tr>

  </thead>

  <% @stays.each do |stay| %>

    <tr>
      <td>
        <%= stay.transcribed_date_of_admission %>
      </td>

      <td>
        <%= stay.transcribed_date_of_discharge %>
      </td>

      <td>
        <%= stay.transcribed_subsequent_condition %>
      </td>

      <td>
        <%= stay.transcribed_archives_ref %>
      </td>

      <td>
        P<%= stay.transcribed_page %> L<%= stay.transcribed_line %>
      </td>

    </tr>

  <% end %>
</table>


<% @patient.stays.each do |stay| %>

  <h2 id="stay-<%= stay.id %>"><%= stay.transcribed_date_of_admission %> - <%= stay.transcribed_date_of_discharge %></h2>

  <% if stay.admission_certificate %>

    <% record = stay.admission_certificate.record %>

    <h3 id="stay-<%= stay.id %>-admission">Admission Certificate</h3>

    <% stay.admission_certificate.sequence_start.upto(stay.admission_certificate.sequence_end) do |sequence| %>

      <% image = record.images.find_by(sequence: sequence) %>

      <%= image_tag image_path(image.id, 1024, 1024) %>

    <% end %>

  <% end %>

  <% if stay.case_notes.size > 0 %>

    <h3 id="stay-<%= stay.id %>-case-notes">Case Notes</h3>


    <% stay.case_notes.each do |case_note| %>

      <% record = case_note.record %>

      <% case_note.sequence_start.upto(case_note.sequence_end) do |sequence| %>

        <% image = record.images.find_by(sequence: sequence) %>

        <%= image_tag image_path(image.id, 1024, 1024) %>

      <% end %>

    <% end %>
  <% end %>


  <% if stay.discharge_note %>

    <% record = stay.discharge_note.record %>

    <h3 id="stay-<%= stay.id %>-discharge">Discharge/Death Note</h3>

    <% stay.discharge_note.sequence_start.upto(stay.discharge_note.sequence_end) do |sequence| %>

      <% image = record.images.find_by(sequence: sequence) %>

      <%= image_tag image_path(image.id, 1024, 1024) %>

    <% end %>

  <% end %>

  <% if stay.bill_notes.size > 0 %>

    <h3 id="stay-<%= stay.id %>-bills">Bills</h3>


    <% stay.bill_notes.each do |bill_note| %>

      <% record = bill_note.record %>

      <% bill_note.sequence_start.upto(bill_note.sequence_end) do |sequence| %>

        <% image = record.images.find_by(sequence: sequence) %>

        <%= image_tag image_path(image.id, 1024, 1024) %>

      <% end %>

    <% end %>
  <% end %>

<% end %>

<% if @case_notes.size > 0 %>

  <h3 id="misc-case-notes">Case Notes</h3>


  <% @case_notes.each do |case_note| %>

    <% record = case_note.record %>

    <% case_note.sequence_start.upto(case_note.sequence_end) do |sequence| %>

      <% image = record.images.find_by(sequence: sequence) %>

      <%= image_tag image_path(image.id, 1024, 1024) %>

    <% end %>

  <% end %>
<% end %>